

node_modules
.env
git add .
git commit -m "What you changed"
git push origin main

2348164349452

   │
 4 │ const Home = lazy(() => import("./pages/Home"));
   │                                ───────┬──────  
   │                                       ╰──────── Module not found.
───╯
    at normalizeErrors (file:///vercel/path0/node_modules/rolldown/dist/shared/src-DkvlJJsC.mjs:2157:18)
    at handleOutputErrors (file:///vercel/path0/node_modules/rolldown/dist/shared/src-DkvlJJsC.mjs:2892:34)
    at transformToRollupOutput (file:///vercel/path0/node_modules/rolldown/dist/shared/src-DkvlJJsC.mjs:2886:2)
    at RolldownBuild.write (file:///vercel/path0/node_modules/rolldown/dist/shared/src-DkvlJJsC.mjs:4093:10)
    at async buildEnvironment (file:///vercel/path0/node_modules/vite/dist/node/chunks/dep-ySrR9pW8.js:33173:64)
    at async Object.build (file:///vercel/path0/node_modules/vite/dist/node/chunks/dep-ySrR9pW8.js:33577:19)
    at async Object.buildApp (file:///vercel/path0/node_modules/vite/dist/node/chunks/dep-ySrR9pW8.js:33574:153)
    at async CAC.<anonymous> (file:///vercel/path0/node_modules/vite/dist/node/cli.js:641:3)
Error: Command "npm run build" exited with 1
